aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
brython==3.8.8
chardet==3.0.4
entrypoints==0.3
flake8==3.7.9
idna==2.9
isort==4.3.21
mccabe==0.6.1
more-itertools==8.2.0
multidict==4.7.5
packaging==20.3
pep8==1.7.1
pluggy==0.13.1
py==1.8.1
pyan==1.0.4.dev2+gb6cd0c6
pycodestyle==2.5.0
pydeps==1.9.3
pyflakes==2.2.0
pyparsing==2.4.7
pytest==5.4.1
pytest-asyncio==0.11.0
six==1.14.0
stdlib-list==0.6.0
wcwidth==0.1.9
yapf==0.30.0
yarl==1.4.2
